# Your openclaw configuration directory. Eg: /home/user/.openclaw_z
OPENCLAW_CONFIG_DIR=
# Your openclaw workspace directory. Eg: /home/user/.openclaw_z/workspace
OPENCLAW_WORKSPACE_DIR=
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_BRIDGE_PORT=18790
OPENCLAW_GATEWAY_BIND=lan
# Openclaw Gateway token. You can generate one at https://gateway.openclaw.dev/user/tokens
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_IMAGE=ghcr.io/openclaw/openclaw:2026.3.31
OPENCLAW_EXTRA_MOUNTS=
OPENCLAW_HOME_VOLUME=openclaw_home
OPENCLAW_DOCKER_APT_PACKAGES=
TELEGRAM_UPDATES_TARGET=
OPENCLAW_EXTENSIONS=
OPENCLAW_SANDBOX=
OPENCLAW_DOCKER_SOCKET=/var/run/docker.sock
DOCKER_GID=
OPENCLAW_INSTALL_DOCKER_CLI=
OPENCLAW_ALLOW_INSECURE_PRIVATE_WS=
OPENCLAW_TZ=
OPENCLAW_INSTALL_BROWSER=1
OPENCLAW_REMOTE_CDP_URL=http://192.168.65.254:9222

# OpenAI
OPENAI_API_KEY=
# Google
GOOGLE_API_KEY=
# Anthropic
ANTHROPIC_API_KEY=
# LiteLLM
LITELLM_MASTER_KEY="your-litellm-master-key"
# OpenRouter
OPENROUTER_API_KEY="your-openrouter-api-key"

# GOG CLI
GOG_ACCOUNT=example@gmail.com
GOG_KEYRING_BACKEND=file
GOG_KEYRING_PASSWORD=your-password